<div class="span-14 append-1">
  <p>Renewzle makes it easy and safe to explore your renewable energy options. Find out whether a solar system is right for you&hellip;</p>

	<h3><em>Comprehensive Financial Analysis</em></h3>

  <p>Renewzle uses information you provide about your electric usage and combines that with electric rate schedules, federal, state and utility economic incentives, local climate data, electric load profiles and solar energy system performance to provide a comprehensive analysis of the economics of a solar energy system purchase.</p>
	
	<h3><em>Determine Your Needs &amp; Choose an Optimum System Size</em></h3>
	
  <p>Choosing the &ldquo;right&rdquo; system size is a complex proposition and is largely determined by your financial and environmental goals. Renewzle helps you choose the system size that is right for you before you begin shopping so you can shop with confidence.</p>
    
	<h3><em>Get Quotes From System Retailers &amp; Installers</em></h3>
	
	<p>Most people don&rsquo;t know what a solar system should cost. Do you want to make sure you are getting a good value? Use Renewzle to collect and compare competitive bids from licensed installers in your area without ever leaving your home and without pesky sales calls!</p>
	
	<h3><em>Choose a System Installer</em></h3>
	
  <p>Using Renewzle, you can choose an installer with confidence and know that you are receiving an excellent value from a reputable firm.</p>
</div>

<div class="span-9 last">
  <%= render(:partial => "profiles/learn/get_started", :locals => { :profile_presenter => @profile_presenter }) %>
</div>
