<% @page_javascript << "Form.focusFirstElement('#{dom_id(@user)}');" -%>
<% labelled_form_for(@user, :url => forgot_password_path) do |forgot_password_form| -%>
  <fieldset class="bottom">
    <legend><%= h(@view_title) %></legend>
    
    <%= forgot_password_form.labelled_text_field(:email) %>
    
    <div class="submit">
      <%= submit_button('Send me a link so I can reset my password') %>
    </div>
  </fieldset>
<% end -%>