<% @page_javascript << "Form.focusFirstElement('edit_#{dom_id(@user)}');" -%>
<% labelled_form_for(@user, :url => reset_password_path) do |reset_password_form| -%>
  <fieldset class="bottom">
    <legend><%= h(@view_title) %></legend>
    
    <%= reset_password_form.required_password_fields(:password) %>
    
    <div class="submit">
      <%= submit_button('Reset Password') %>
    </div>
  </fieldset>
<% end -%>