<p>We are sorry, but <%= @profile.customer.full_name %> has decided not to purchase a solar energy system from your firm.  Renewzle does everything possible to ensure that the leads we distribute are extremely high quality, i.e., are from customers who fully understand all of the financial, environmental, and physical elements of a PV system up front and are genuinely interested in purchasing a system.  While these leads are as highly qualified as possible, they don&rsquo;t always result in sales.</p>
<p>Please take a minute and let us know what happened with this customer.  We will use your feedback to better qualify Renewzle customers and continue to improve our system. [“let us know” and “feedback” link to lead disposition page].</p>

<p>Thank you,<br />The Renewzle Team</p>
<p>Also, you can always email us for more information or help at <a href="mailto:info@renewzle.com">info@renewzle.com</a>.</p>
