<p>You have successfully registered with Renewzle!</p>

<p>Installers in your area have received your request for quotes (RFQ), and will be submitting quotes for your solar system shortly. We&rsquo;ll alert you by email as they come in.</p>

<p>Your request and all responses will be stored and waiting for you when you return to the Renewzle website. You can always see all the <a href="<%= @explore_url %>">results of your solar financial analysis</as>, and you&rsquo;ll find your quotes on your <a href="<%= @shop_url %>">Quote dashboard</a> when you log into Renewzle.</p>

<p>If you have any trouble logging into Renewzle or have any questions, please email <a href="mailto:support@renewzle.com">support@renewzle.com</a>.</p>

<p>Thank you!<br />The Renewzle Team</p>

<p>Please tell a friend about our free calculator and quote service.</p>

<h3><a href="<%= @renewzle_url %>">www.Renewzle.com</a> – Solar for Your Home Made Easy</h3>
