<p>Before we send your quote out to our partners, we ask that you verify your account. Please respect the time of our partners and only submit valid requests.</p>
<p>Just click on this link to continue the quote process. <a href="<%= @verification_url %>"><%= @verification_url %></a>

<p>Thank you,<br />The Renewzle Team</p>

<p>Please tell a friend about our free calculator and quote service.</p>
<h3><a href="<%= @renewzle_url %>">www.Renewzle.com</a> – Solar for Your Home Made Easy</h3>
