<div class="span-14">
<h2><%= h(@view_title) %></h2>

<h3>Your Information</h3>

<dl class="faq">
  <dt id="faq_1"><a href="#" onclick="return FAQ.toggleAnswer('faq_1')" title="Toggle answer">Why does Renewzle need to know my electric utility?</a></dt>
  <dd id="faq_1_answer" style="display:none">
    <p>Since a solar system would replace some or all of the power purchased from your electric utility, much of the solar financial analysis is directly tied to your utility rates. Since utility rates can be very complicated, Renewzle maintains the detailed rate schedules for many different electric utilities so the calculations can be made for you and made as accurately as possible.</p>
  </dd>

  <dt id="faq_2"><a href="#" onclick="return FAQ.toggleAnswer('faq_2')" title="Toggle answer">Do I need to enter individual bills?</a></dt>
  <dd id="faq_2_answer" style="display:none">
    <p>You don&rsquo;t have to, but the more information you put in, the more accurate Renewzle&rsquo;s evaluation will be. If you just provide a monthly bill amount or usage amount, Renewzle will estimate your specific monthly use using average monthly load patterns for your electric utility. While that&rsquo;s a pretty good estimate, your actual monthly usage will be somewhat different and those differences could affect the outcome of the analysis. We recommend that you dig up as many of the last year&rsquo;s electric bills as possible to get the most accurate possible assessment. Remember, you can always come back later to add more information such as individual monthly bills. Renewzle will remember you and you can pick up where you left off.</p>
  </dd>

  <dt id="faq_3"><a href="#" onclick="return FAQ.toggleAnswer('faq_3')" title="Toggle answer">Why does Renewzle want to know my income?</a></dt>
  <dd id="faq_3_answer" style="display:none">
    <p>Renewzle tries to offer the most accurate financial assessment possible. Renewzle assumes that you will finance the cost of the system and the interest portion of that monthly loan payment is deductible. To estimate the tax savings, Renewzle needs to know your approximate income and filing status.</p>
  </dd>

  <dt id="faq_4"><a href="#" onclick="return FAQ.toggleAnswer('faq_4')" title="Toggle answer">What is the solar output adjustment?</a></dt>
  <dd id="faq_4_answer" style="display:none">
    <p>The solar output adjustment is meant to account for less than perfect solar installations. In the real world, a solar system is typically mounted on your roof and your roof may not point directly south and may not have the perfect angle. Solar systems deliver the highest performance when facing directly south and at a specific tilt and, of course, are entirely free of shading throughout the day. Also, few installations are completely free of shading throughout the day.</p>

    <p>Renewzle uses a solar output adjustment value of 20%, meaning that all of the financial and environmental calculations assume that your system will produce 20% less power than if everything were perfect. That&rsquo;s a pretty good number that is typically of what most people see in the real world. If you want to tune your estimate up a little, click here for some guidelines on coming up with a more accurate estimate. Also, keep in mind that a solar contractor will come to your house and do a careful site evaluation before you purchase a system and they can tell you if your estimate was on the mark.</p>
  </dd>
</dl>

<hr />

<h3>Solar System Sizing</h3>

<dl class="faq">
  <dt id="faq_5"><a href="#" onclick="return FAQ.toggleAnswer('faq_5')" title="Toggle answer">How does Renewzle determine the size of the solar system?</a></dt>
  <dd id="faq_5_answer" style="display:none">
    <p>Renewzle uses the information you provide about your electricity use to determine the solar system size needed to provide all of your electricity. However, you can change the &ldquo;% from solar&rdquo; to change the size of the system.</p>
  </dd>

  <dt id="faq_6"><a href="#" onclick="return FAQ.toggleAnswer('faq_6')" title="Toggle answer">What is the <em>% from solar</em>?</a></dt>
  <dd id="faq_6_answer" style="display:none">
    <p>The &ldquo;% from solar&rdquo; is the percentage of your total electricity consumption that the solar energy system will provide. Oftentimes it is not possible to fit a system large enough to eliminate all of your electric use, or it might be too costly. Try changing the percentage and system size - financial and environmental calculations will change accordingly. Also, while the largest system possible will usually provide the greatest lifetime savings, the chart at the right shows you what your monthly costs will be throughout the range of percentages. Trying different percentages to see how the figures change is the best way to find the system that&rsquo;s exactly right for you!</p>
  </dd>

  <dt id="faq_7"><a href="#" onclick="return FAQ.toggleAnswer('faq_7')" title="Toggle answer">What does the Monthly Cost by Usage Offset chart mean?</a></dt>
  <dd id="faq_7_answer" style="display:none">
    <p>This chart is shown to help you identify the solar system size that maximizes your short term savings. Many electric utilities use tiered rating structures that have different rates for different levels of usage; usually the rates are higher for higher usage levels.</p>
  
    <p>Renewzle calculates your overall monthly costs for system&rsquo;s providing anywhere from 0-100% of the electricity you use. Look at the chart to find the &ldquo;% from solar that provides the lowest overall monthly cost. It is also useful to try some different values and look at both the immediate monthly savings and the lifetime savings. While it may cost a little more in the short term, the largest possible system usually offers the greatest lifetime savings.</p>
  </dd>
  
  <dt id="faq_8"><a href="#" onclick="return FAQ.toggleAnswer('faq_8')" title="Toggle answer">Is there a minimum system size?</a></dt>
  <dd id="faq_8_answer" style="display:none">
    <p>Renewzle does not set a minimum size for the system, but it may be difficult to find an installer for a very small system. As a rule of thumb, nearly all residential systems are at least 1 kW.</p>
  </dd>
</dl>

<hr />

<h3>Solar Financial Analysis</h3>

<dl class="faq">
  <dt id="faq_9"><a href="#" onclick="return FAQ.toggleAnswer('faq_9')" title="Toggle answer">Why is the monthly cost higher/lower with solar compared to today?</a></dt>
  <dd id="faq_9_answer" style="display:none">
    <p>As you can tell by all of the information you are asked to provide and all of the detailed output Renewzle provides, getting a detailed solar financial analysis is not a simple proposition. The easiest measure to look at is the monthly cost &ldquo;before&rdquo; and &ldquo;after&rdquo; solar. The &ldquo;before&rdquo; cost is simply your current electric bill, but Renewzle calculates your overall monthly cost with a solar system as completely as possible and shows you a comparable monthly cost. Depending on where you live and how you use electricity, solar may cost a little more or a little less than utility power. Try fine tuning Your Information, especially the % from solar and find the system that offers the best value and fit for your needs.</p>
  </dd>
</dl>

<hr />

<h3>Quotes from Retailers/Installers</h3>

<dl class="faq">
  <dt id="faq_10"><a href="#" onclick="return FAQ.toggleAnswer('faq_10')" title="Toggle answer">Which retailers/installers are in the Renewzle network?</a></dt>
  <dd id="faq_10_answer" style="display:none">
    <p>All of them! Renewzle offers every approved retailer serving your area a chance to respond to your request for quotes. We think it is best to let you decide who you want to work and we have no direct relationship with any solar retailers or installers; Renewzle is completely independent. Renewzle does actively follow-up with our users to make sure that retailers honor their quotes and deal fairly with their customers. In the event that a retailer is found to have mislead a consumer or misrepresented in any way, Renewzle reserves the right to block that retailer from issuing any further quotes.</p>
  </dd>

  <dt id="faq_11"><a href="#" onclick="return FAQ.toggleAnswer('faq_11')" title="Toggle answer">Is my information kept confidential?</a></dt>
  <dd id="faq_11_answer" style="display:none">
    <p>The only time any information you provide Renewzle is given to any other party is when you &ldquo;accept&rdquo; a quote. In other words, we provide your information to a retailer/installer if you ask us to, but not in any other circumstance. That&rsquo;s a promise.</p>
  </dd>

  <dt id="faq_12"><a href="#" onclick="return FAQ.toggleAnswer('faq_12')" title="Toggle answer">Will sales reps call me if I request a quote?</a></dt>
  <dd id="faq_12_answer" style="display:none">
    <p>None of your identifying information (name, address, etc) is provided to retailers unless you choose to &ldquo;accept&rdquo; a quote. By handling things that way, you get to shop</p>
  </dd>

  <dt id="faq_13"><a href="#" onclick="return FAQ.toggleAnswer('faq_13')" title="Toggle answer">How do I compare quotes?</a></dt>
  <dd id="faq_13_answer" style="display:none">
    <p>Renewzle includes some comparative measures making it easy for you to evaluate the quotes your receive. The main things to look for are the cost per CEC watt and information about the installer (how many systems they have installed, how long they have been in business). The size of the system according to California Energy Commission (CEC watts) is a good measure to use when comparing systems because it takes the characteristics of the proposed equipment into account to form a practical measure of the system&rsquo;s projected performance.</p>
  </dd>

  <dt id="faq_14"><a href="#" onclick="return FAQ.toggleAnswer('faq_14')" title="Toggle answer">If I see a quote I like, how do I take the next step?</a></dt>
  <dd id="faq_14_answer" style="display:none">
    <p>You can choose to &ldquo;accept&rdquo; a quote to take the next step. Your contact information will be forwarded to the retailer you select along with all the system specifications. The retailer will then contact you to arrange an appointment. While Renewzle produces the most accurate estimate possible, there is no substitute for a site visit. During the site visit, the retailer will assess the possible system location, perform a shading analysis and fine tune the system specifications and quote.</p>
  </dd>

  <dt id="faq_15">What if I don&rsquo;t like the installer I chose, can I choose someone else?</dt>
  <dd id="faq_15_answer" style="display:none"></dd>

  <dt id="faq_16"><a href="#" onclick="return FAQ.toggleAnswer('faq_16')" title="Toggle answer">What am I committing to if I &ldquo;request quotes&rdquo;?</a></dt>
  <dd id="faq_16_answer" style="display:none">
    <p>Nothing, you are just shopping. When you request quotes, you will receive email alerts as quotes are received and you can go to Renewzle and view those responses at any time. If you</p>
  </dd>

  <dt id="faq_17">What am I committing to if I &ldquo;accept&rdquo; a quote?</dt>
  <dd id="faq_17_answer" style="display:none"></dd>
</dl>

<hr />

<h3>Other</h3>

<dl class="faq">
  <dt id="faq_18">Will the retailer honor the quote they submit?</dt>
  <dd id="faq_18_answer" style="display:none"></dd>

  <dt id="faq_19">Does Renewzle guarantee the financial analysis?</dt>
  <dd id="faq_19_answer" style="display:none"></dd>

  <dt id="faq_20">What if the retailer gives me a quote that&rsquo;s different from Renewzle?</dt>
  <dd id="faq_20_answer" style="display:none"></dd>
</dl>

</div>
