<div class="span-14">
  <h2><%= h(@view_title) %></h2>
  
  <h3>Government Solar and Renewable Energy Resources</h3>
  
  <ul class="links">
    <li><a href="http://www.energy.ca.gov">California Energy Commission</a></li>
    <li><a href="http://gosolarcalifornia.com">Go Solar California</a> &ndash; California Public Utilities Commission and Energy Commission</li>
    <li><a href="http://www1.eere.energy.gov/solar/">DoE EERE: Solar Energy Technologies Program</a></li>
  </ul>

  <h3>Solar and Renewable Energy Organizations</h3>

  <ul class="links">
    <li><a href="http://www.ases.org">American Solar Energy Society</a></li>       
    <li><a href="http://www.seia.org">Solar Energy Industries Association</a></li>
    <li><a href="http://www.solarenergy.org">Solar Energy International</a></li>
    <li><a href="http://www.solarliving.org">Solar Living Institute</a></li>
  </ul>
  
  <h3>Renewable Energy and Environmental Directories</h3>
  
  <ul class="links">
    <li><a href="http://www.dotenvironment.com">DotEnvironment.com</a> &ndash; Environmental directory of green resources and informational websites.</li>
    <li><a href="http://www.ecobusinesslinks.com">EcoBusinessLinks</a> &ndash; Green business directory</li>
    <li><a href="http://www.energyplanet.info" title="Renewable Energy Directory">Energy Planet</a> &ndash; Renewable Energy Directory</li>
    <li><a href="http://www.energyresourceguide.com">Energy Resource Guide</a></li>
    <li><a href="http://greendirectory.net">Green Directory</a> &ndash; Environmental links, news, courses, and jobs</li>
    <li><a href="http://livegreenordie.com/click.php?id=139611">Live Green or Die</a></li>
    <li><a href="http://www.myenergyplanet.com">My Energy Planet</a></li>
    <li><a href="http://www.natureslist.org">Nature's List</a></li>
    <li><a href="http://onegreenglobe.com">One Green Globe Directory</a></li>
    <li><a href="http://www.solarpowerdirectoryusa.com">Solar Power Directory</a> &ndash; Solar power listings by state.</li>
   </ul>
</div>