<div class="span-14">
  <h2>Renewzle Retailer FAQ: Frequently Asked Questions from Solar Retailers &amp; Installers</h2>

  <dl class="faq">
    <dt id="faq_1"><a href="#" onclick="return FAQ.toggleAnswer('faq_1')" title="Toggle answer">How much will it cost?</a></dt>
    <dd id="faq_1_answer" style="display:none">
      <p>For those of you trying Renewzle for the first time, your first lead costs only $1. A lead is a consumer that has been through a comprehensive financial analysis, reviewed one or more quotes and selected a quote from a retailer from whom they want to purchase a solar system.</p>
      
      <p>We&rsquo;re confident that customers coming through the Renewzle process are highly motivated and ready to buy, and we want you to be able to see that for yourself in a no-risk way. After your first lead, Renewzle prices leads by the kW so that the price of the lead is roughly proportional to the size of the project&mdash;please contact <a href="mailto:&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x72;&#x65;&#x6E;&#x65;&#x77;&#x7A;&#x6C;&#x65;&#x2E;&#x63;&#x6F;&#x6D;">support@renewzle.com</a> for current pricing details.</p>
    </dd>

    <dt id="faq_2"><a href="#" onclick="return FAQ.toggleAnswer('faq_2')" title="Toggle answer">How does Renewzle come up with the financial estimates the customer sees before requesting a quote?</a></dt>
    <dd id="faq_2_answer" style="display:none">
      <p>Renewzle uses information provided about their electric usage and combines that with electric rate schedules, federal, state and utility economic incentives, local climate data, electric load profiles and solar energy system performance to provide a comprehensive analysis of the economics of a solar energy system purchase.</p>
    </dd>

    <dt id="faq_3"><a href="#" onclick="return FAQ.toggleAnswer('faq_3')" title="Toggle answer">What happens if the customer backs out after I have purchased the lead?</a></dt>
    <dd id="faq_3_answer" style="display:none">
      <p>If you are unable to contact the customer, please let us know and we will provide a refund. Otherwise, it is up to you to get them to the finish line. Not every Renewzle sales opportunity will result in a signed contract, but these prospects know what they are doing and are ready to buy. We are confident that you will be more than satisfied with your close rate on these opportunities and, overall, they represent an outstanding value.</p>
    </dd>

    <dt id="faq_4"><a href="#" onclick="return FAQ.toggleAnswer('faq_4')" title="Toggle answer">What if the customer wants/needs a system significantly different than profiled in the quote request I replied to?</a></dt>
    <dd id="faq_4_answer" style="display:none">
      <p>One of the unique advantages of sales leads from Renewzle is the fact that these customers have been through a comprehensive financial analysis and have had the opportunity to carefully evaluate the size system that best meets their needs.</p>
      
      <p>Still, there will undoubtedly be instances where you recommend a system somewhat different than originally proposed and the final deal is between your company and the customer. However, Renewzle does conduct follow-up surveys with customers and it is important that, in the end, you provide a level of value comparable to what you originally proposed or it will hurt your company&rsquo;s ratings in future opportunities.</p>
    </dd>
    
    <dt id="faq_5"><a href="#" onclick="return FAQ.toggleAnswer('faq_5')" title="Toggle answer">How many leads can I expect to receive?</a></dt>
    <dd id="faq_5_answer" style="display:none">
      <p>The number of leads you receive will depend primarily on how many quotes you provide and how promptly you respond to sales opportunities. The more active you are in responding to sales opportunities, the more leads you are likely to receive.</p>
    </dd>
    
    <dt id="faq_6"><a href="#" onclick="return FAQ.toggleAnswer('faq_6')" title="Toggle answer">How will I know when a customer is waiting for a quote?</a></dt>
    <dd id="faq_6_answer" style="display:none">
      <p>You will receive email notifications whenever a quote opportunity in your service area becomes available. All quote opportunities will also appear on your Renewzle Dashboard.</p>
    </dd>
    
    <dt id="faq_7"><a href="#" onclick="return FAQ.toggleAnswer('faq_7')" title="Toggle answer">Do I have to reply to all quote requests in order to maintain a good relationship with Renewzle?</a></dt>
    <dd id="faq_7_answer" style="display:none">
      <p>You can respond to as few or as many quotes as fit your needs.</p>
    </dd>
    
    <dt id="faq_8"><a href="#" onclick="return FAQ.toggleAnswer('faq_8')" title="Toggle answer">Can I ask for more information before submitting a quote?</a></dt>
    <dd id="faq_8_answer" style="display:none">
      <p>Sorry, but you have to work with the information available. For customers, the ability to get quotes prior to an in home sales call is a major asset and makes the process of shopping for and purchasing solar much less daunting. As a result, you will first have to provide a quote before getting into detailed discussions. We understand that some of your recommendations may change with a home visit, and we&rsquo;re being clear with customers that the quotes they receive are only initial estimates.</p>
    </dd>
    
    <dt id="faq_9"><a href="#" onclick="return FAQ.toggleAnswer('faq_9')" title="Toggle answer">How will I know if a customer has chosen my quote?</a></dt>
    <dd id="faq_9_answer" style="display:none">
      <p>You will be notified by email and the lead opportunity will be highlighted on your Renewzle Dashboard. We&rsquo;ll also provide you with instructions on how to purchase the lead and begin closing.</p>
    </dd>
    
    <dt id="faq_10"><a href="#" onclick="return FAQ.toggleAnswer('faq_10')" title="Toggle answer">How do you prevent installers from submitting a low-ball price, which isn't realistic but gets them the lead?</a></dt>
    <dd id="faq_10_answer" style="display:none">
      <p>Renewzle surveys users about their experience in working with retailers selected with Renewzle. In the event that retailers do not honor the quotes submitted through Renewzle, they may be barred from further participation. Of course, the customer is not bound by the process. Retailers that try to bait and switch are unlikely to get a sale with such tactics.</p>
    </dd>
    
    <dt id="faq_11"><a href="#" onclick="return FAQ.toggleAnswer('faq_11')" title="Toggle answer">How do I submit ideas for feedback to the Renewzle team?</a></dt>
    <dd id="faq_11_answer" style="display:none">
      <p>Email your comments to <a href="mailto:&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x72;&#x65;&#x6E;&#x65;&#x77;&#x7A;&#x6C;&#x65;&#x2E;&#x63;&#x6F;&#x6D;">support@renewzle.com</a>. We are always anxious to receive feedback that will help us improve the process and become a more useful tool for both consumers and retailers.</p>
    </dd>
  </dl>
</div>
