<div class="span-14" id="retailer_instructions">
  <h2>Using Renewzle: Instructions for Partners</h2>
  
  <p><strong>Ready to use Renewzle to grow your solar business?</strong> Signing up and working with Renewzle is easy. We&rsquo;ve outlined the steps for you below:</p>
  
  <ol>
    <li>
      <h3>Sign up for Renewzle</h3>
      
      <ol>
        <li>Search for your company in the database on our retailer signup page.</li>
        <li>
          <p class="bottom">Select your company name from the search results.</p>
          
          <p class="bottom">Not in our database?</p>
          
          <ol>
            <li>Are you located in California and registered with the California Energy Commission? Email us at <a href="mailto:&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x72;&#x65;&#x6E;&#x65;&#x77;&#x7A;&#x6C;&#x65;&#x2E;&#x63;&#x6F;&#x6D;">support@renewzle.com</a> and we&rsquo;ll straighten things out.</li>
            <li>Not in California? Email <a href="mailto:&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x72;&#x65;&#x6E;&#x65;&#x77;&#x7A;&#x6C;&#x65;&#x2E;&#x63;&#x6F;&#x6D;">support@renewzle.com</a> and we&rsquo;ll let you know when we expand to other states.</li>
          </ol>
        </li>
        <li>
          <p class="bottom">Enter your company and contact information and click &ldquo;Register.&rdquo;</p>
          
          <p class="aside bottom">(There&rsquo;s a brief waiting period before you can make quotes while we verify that you are indeed a valid representative of your company. This will almost always be less than one business day, and you will receive an email when your application is approved.)</p>
        </li>
        <li>Congrats, you&rsquo;re a Renewzle installer!</li>
      </ol>
      
      <br />
      
      <dl class="image_with_caption">
        <dt><%= image_tag('partner/retailer_signup.jpg', :alt => 'Retailer Signup Process') %></dt>
        <dd>Retailer Signup Process</dd>
      </dl>
    </li>
  
    <li>
      <h3>Locate lead opportunities in your area</h3>
      
      <ol>
        <li>Once you&rsquo;re registered, you&rsquo;ll see a <%= link_to('dashboard', retailer_dashboard_url) %> every time you log in listing sales lead opportunities in your area.</li>
        <li>The listed sales leads are from homeowners who are interested in installing solar and have requested quotes from local retailers.</li>
        <li>You&rsquo;ll receive emails from Renewzle when new sales opportunities become available to you, so you&rsquo;ll be able to respond quickly to potential customers.</li>
      </ol>
      
      <br />
      
      <dl class="image_with_caption">
        <dt><%= image_tag('partner/retailer_dashboard.jpg', :alt => 'Renewzle Retailer Dashboard') %></dt>
        <dd>Renewzle Retailer Dashboard &mdash; Locate sales opportunities and submit quotes.</dd>
      </dl>
    </li>

    <li>
      <h3>Submit quotes to interested homeowners</h3>
      
      <ol>
        <li>When you&rsquo;ve identified a sales opportunity in your Renewzle Dashboard that you&rsquo;re interested in pursuing, click &ldquo;Make a quote&rdquo; to the right of the sales opportunity you&rsquo;re interested in.</li>
        <li>Fill in the information for Module and Inverter Manufacturer, as well as system price and typical installation cost.</li>
        <li>Now click &ldquo;Submit Quote.&rdquo;</li>
        <li>You can respond to as many or as few quotes as fit your needs.</li>
      </ol>
      
      <br />
    </li>
    
    <li>
      <h3>Purchase leads</h3>
      
      <ol>
        <li>After you submit a quote to a user, he or she has the opportunity to choose between your quote and those submitted by other installers.</li>
        <li>When a user selects your quote, you will receive an email from Renewzle and the lead opportunity will be highlighted on your Renewzle dashboard.</li>
        <li>We&rsquo;ll also provide you with instructions on how to purchase that lead and contact the highly motivated consumer.</li>
        <li>You&rsquo;re on your way to getting signed contracts and happy customers from Renewzle!</li>
      </ol>
    </li>
  </ol>
  
  <p><strong>More questions?</strong> Write us at <a href="mailto:&#x73;&#x75;&#x70;&#x70;&#x6F;&#x72;&#x74;&#x40;&#x72;&#x65;&#x6E;&#x65;&#x77;&#x7A;&#x6C;&#x65;&#x2E;&#x63;&#x6F;&#x6D;">support@renewzle.com</a> and we&rsquo;ll be happy to answer them.</p>
</div>