<div class="callout">
  <div class="top-left">
    <div class="bottom-right">
	    <h3 class="top-right">Wondering what to do?</h3>
	    
	    <div class="bottom-left">
	      <p style="font-size:1.2em">Have you looked at different system sizes and explored the Financial, Environmental and Electric Use tabs above?</p>
	      
	      <p style="font-size:1.2em">If so and if you&rsquo;ve found a system that seems right for your home, you can shop for a solar system by requesting quotes from installers in your area.</p>
	      
        <p class="bottom"><%= link_to(image_tag('customer/btn_next.gif', :alt => 'Next'), profile_rfq_url, :id => 'request_quotes_link') %></p>
      </div>
    </div>
  </div>
</div>