<div id="whats_next" class="callout">
  <div class="top-left">
    <div class="bottom-right">
	    <h3 class="top-right">What&rsquo;s next?</h3>
      
      <p class="bottom">We need your average monthly electricity bill.</p>
      
      <fieldset class="bottom bottom-left">
        <%= profile_form.labelled_dollar_text_field(:average_monthly_bill) %>
      </fieldset>
    </div>
  </div>
</div>