<fieldset class="results">
  <legend>Your Quote</legend>
	
  <table border="0" cellspacing="0" cellpadding="0" class="results bottom">
    <tr>
	    <th>Nameplate rating:</th>
	    <td><%= number_with_delimiter(number_with_precision(quote_template.nameplate_rating, 1)) %> DC kW</td>
	  </tr>
	  <tr>
	    <th>CEC rating:</th>
	    <td><%= number_with_delimiter(number_with_precision(quote_template.cec_rating, 1)) %> AC kW</td>
	  </tr>
	  <tr>
	    <th>Annual output:</th>
	    <td><%= number_with_delimiter(number_with_precision(quote_template.annual_output, 0)) %> kWh</td>
	  </tr>
	  <tr class="hr">
			<th>Estimated project cost:</th>
			<td><%= number_to_accounting(quote_template.project_cost, :precision => 0) %></td>
		</tr>
	</table>
</fieldset>
