<div class="span-24">
	<p>A verification message was sent to the email address you provided. Please follow the enclosed instructions to complete the quote request process.</p>
	
	<p><%= link_to('Click here to resend the verification email', :controller => 'customers', :action => 'resend_verification') %>.</p>
</div>
