<div class="span-15">
  <p style="font-size:1.2em;margin-bottom:1.25em;">Solar retailers in your area are looking at your request now. You&rsquo;ll receive an email notice each time an installer gives you a quote for your home, and you can view your quotes at any time here on the <%= link_to("Shop page", shop_url) %>.</p>
  
  <p style="font-size:1.2em;margin-bottom:1.25em;">Allowing about a week will give you the widest selection of quotes, but if you see one you like, you can choose to talk to that installer at any time.</p>
  
  <p style="font-size:1.2em;margin-bottom:1.25em;">We look forward to seeing you back at Renewzle as quotes for your home roll in!</p>
</div>