<div id="get_started_form" class="callout">
  <div class="top-left">
    <div class="bottom-right">
	    <h3 class="top-right">Get Started</h3>
	    
	    <p>This section covers all the basics about solar, so take your time and explore. When you are finished learning the basics about solar, you are only a few quick questions away from a financial analysis for your home!</p>
	    
      <div class="bottom-left">
        <p class="bottom"><%= link_to(image_tag('customer/btn_get_started.gif', :alt => 'Get Started'), new_profile_url, :class => 'button') %></p>
      </div>
    </div>
  </div>
</div>

<div id="california_only">
  <p class="tip"><small>Renewzle is only available to California homeowners at this time. If you live outside of California, please feel free to explore the information about solar in this section and check back with us in the coming months as we expand to serve additional states.</small></p>
</div>
