<p>A customer has chosen your quote for a <%= number_with_delimiter(number_with_precision(@lead.nameplate_rating, 1)) %> kW solar system in <%= @lead.city %> and wants to meet with you.</p>

<p>You are only a site visit away from closing this deal! You can get all of the details on this customer <a href="<%= @dashboard_url %>">here</a>. You had better hurry, they are waiting to hear from you right now!</p>