<p>We are interested to know about your experience working with <%= @lead.profile.customer.name %>.  We hope that they have signed a contract to purchase a PV system, or that you are working toward that outcome.</p>
<p>Please take a minute and <a href="<%= @lead_disposition_url %>">let us know</a> what has happened with this customer.  We will use your <a href="<%= @lead_disposition_url %>">feedback</a> to better qualify Renewzle customers and to continue to improve our system.</p>

<p>Thank you,<br />The Renewzle Team</p>
<p>Also, you can always email us help at <a href="mailto:info@renewzle.com">info@renewzle.com</a> or call 510 529 6967.
