<p>You have successfully accepted a quote from a local solar installer for a <%= number_with_delimiter(number_with_precision(@lead.nameplate_rating, 1)) %> kW solar system, and the retailer has been notified of your acceptance.</p>
<p>When the retailer responds to your acceptance, Renewzle will provide you with their contact information. Only then will the solar installer receive your contact information, along with the specifications in the profile you created while exploring your "solar situation."</p>
<p>The installer will contact you, but you will also be able to get their contact information out of Renewzle.</p>
<p>Bidding on yours and other potential projects is free for solar installers. However, once you&rsquo;ve accepted the most attractive bid, Renewzle charges retailers a small fee for the opportunity to make your project happen; that&rsquo;s how we are able to provide this service at no cost to you.</p>
<!-- We don't have this functionality yet
<p>Don&rsquo;t forget to let us know [link to “accepted/declined” feedback form] how things turn out.  If you decide to purchase a system from this retailer, please return to Renewzle and share your experience [link to “accepted” portion of feedback form].  The information you provide will help the Renewzle system ensure that retailers are honoring their commitments and that we are providing consumers a valuable service.</p>
<p>If things don&rsquo;t work out with this retailer, tell us why [link to “declined” portion of feedback form]. If you would like to follow up on another quote, just log back in [link to shop view] to Renewzle to connect with another retailer.</p>
-->
<p>If you need help, or have any questions whatsoever, please email support@renewzle.com or call 510-529-6967.</p>

<p>Thank you,<br />The Renewzle Team</p>

<h2><a href="<%= @renewzle_url %>">www.Renewzle.com</a> – Solar for Your Home Made Easy</p>
