<div class="callout">
  <div class="top-left">
    <div class="bottom-right">
	    <h3 class="top-right">Need expert help?</h3>
	    
	    <div class="bottom-left">
        <p>Not sure what to do next? Check out <%= link_to('Using Renewzle: Instructions for Retailers', retailer_help_url, :title => 'How to Use Renewzle') %> to learn how to work with Renewzle.</p>
	      
	      <p>More questions? Check out our <%= link_to('Retailer FAQ', retailer_faq_url) %> page for answers to frequently asked questions.</p>
	      
        <p>You can always email us at <a href="mailto:support@renewzle.com">support@renewzle.com</a>.</p>
      </div>
    </div>
  </div>
</div>