<div class="callout">
  <div class="top-left">
    <div class="bottom-right">
	    <h3 class="top-right">Need expert help?</h3>
	    
	    <div class="bottom-left">
        <p>Email us at <a href="mailto:support@renewzle.com">support@renewzle.com</a>, or check out <%= link_to('How Renewzle Works', how_renewzle_works_url) %> for an overview of the Renewzle service.</p>
      </div>
    </div>
  </div>
</div>