<div class="span-14">
  <h2>How Renewzle Works</h2>
  
  <p>Renewzle is the easiest to use and most consumer friendly place to find a residential solar system. Based on your location and electricity use, we help you find the right system size and calculate what rebates you qualify for, then we help you get quotes from installers in your area! To stay up to date with changes to Renewzle and news about renewable energy, please <a href="https://app.streamsend.com/public/CaUn/YGr/subscribe">subscribe to the Renewzle newsletter</a>.</p>
  
  <p>Here&rsquo;s an overview of the steps in the Renewzle experience:</p>
  
  <h3>Step 1: Build your system</h3>  
  <p>First, use Renewzle&rsquo;s solar calculator to determine the cost of different size solar systems for your home and adjust your profile to reflect your needs and budget.</p> 
  
  <p>The most important factor to adjust is what percentage of energy usage you want to offset. This determines the size of your system and, by extension, the system&rsquo;s cost and environmental impact.</p>
  
  <p>Refining your tax status and financing options will make sure we can accurately calculate your rebate qualifications and expected monthly cost.</p>
  
  <p>Once you&rsquo;ve played with the calculator and have a system you&rsquo;re happy with, you can move on to request quotes from retailers!</p>

  <h3>Step 2: Review and compare retailer quotes</h3>

  <p>One of the truly unique features of Renewzle is the ability to get system quotes from retailers in your area easily, from your own home. Learn how much installers in your area would charge to install your system, without having to contact each individually.</p>
  
  <p>We keep your identity confidential until you choose a winning quote and tell us that you want to contact that retailer. No aggressive sales reps, no annoying sales calls.</p>
  
  <p>When each retailer issues a quote, you will receive an email notification and the quote will appear in the My Quotes page in the Shop section in Renewzle. Renewzle includes some comparative measures making it easy for you to evaluate the quotes you receive.</p>
  
  <h3>Step 3: Accept a quote</h3>

  <p>When you find the one quote that looks best, you can &ldquo;Accept&rdquo; that quote. By accepting a quote, you are simply saying that you want to talk to that company and asking them to contact you. The retailer you select will contact you to arrange a site visit and will follow that visit with a detailed system quotation. It is up to you and the retailer to conclude the transaction, but the financial analysis provided by Renewzle along with the ability to compare bids will give you confidence that you are getting the right system at the right price.</p>
  
  <h3>Step 4: Let us know what happens</h3>

  <p>After you have accepted a quote and start working with a retailer, Renewzle will contact you to find out about your experience with the retailer and Renewzle. Your response lets us know that you had a good experience and helps us continue to improve Renewzle&mdash;thanks!</p>
  
  <p><strong>More questions?</strong> Write us at <a href="mailto:support@renewzle.com">support@renewzle.com</a> and we&rsquo;ll be happy to answer them.</p>
</div>