<div class="span-14 append-1">
  <h2><%= h(@view_title) %></h2>
  
  <p>Federal and state governments are currently offering tremendous financial incentives to motivate homeowners to switch to solar energy. With literally hundreds of different credits and incentives offered by all levels of government and many utilities, identifying all of the available incentives can be a bit bewildering. Never fear, Renewzle will figure it out for you.</p>
  
  <h3>Federal Incentives</h3>

  <h4 class="bottom">Federal Tax Credit</h4>
  <p>The Federal Government offers a tax credit for purchasers of solar energy systems. The credit is up to $2,000 and most people can use the full amount.</p>
  
  <h4 class="bottom">Residential Energy Conservation Subsidy Exclusion</h4>
  <p>You don&rsquo;t have to pay income tax on a utility rebate or credit for a solar energy system.</p>
  
  <h3>State &amp; Utility Incentives</h3>
  
  <p>Most states offer some sort of incentive for solar systems and, in many cases, they can pay for a substantial portion of the overall cost of the purchase.</p>
  
  <h4 class="bottom">Sales Tax Exemption</h4>
  <p>Many states exempt solar energy systems from sales tax.</p>
  
  <h4 class="bottom">Net Metering</h4>
  <p>While not actually an incentive, net metering legislation is in place in many states and is an important part of the solar value proposition. Net metering allows utility customers with solar systems to feed power back to the grid when their system is producing more power than they are using at the time. Power pumped back into the grid offsets the power you draw from the grid (like at night) and you only get billed for your net usage.</p>
</div>

<div class="span-9 last">
  <%= render(:partial => "profiles/learn/get_started") %>
</div>