<div class="span-14 append-1">
  <h2><%= h(@view_title) %></h2>
  
  <p>Solar energy still costs a little more than utility power today, but the gap is shrinking every day. Thanks to a variety of credits and incentives offered by the Federal government, states, local governments and utilities, people in many parts of the country can actually save money <strong>right now</strong> by installing solar.</p>

  <p>For anyone that feels strongly about the environment and preservation of our natural resources, solar energy is a great value even if it costs a bit more than utility power. Still, cost is an important issue for anyone considering a solar energy system. The cost of solar relative to utility power depends on where you live, how much electricity you use and how much you pay for electricity. In some parts of the country, solar can provide tremendous savings, in other areas utility power is much less expensive.</p>

  <p>To understand the real cost of solar, all of the financial pieces have to be pulled together to get an accurate financial assessment and that&rsquo;s how Renewzle can help. Renewzle can identify all of the incentives and credits available in your area and combine that with information about your electric use, your utility&rsquo;s rates, electricity usage patterns in your area, tax rates and a host of other information to provide you with a comprehensive financial analysis.</p>
</div>

<div class="span-9 last">
  <%= render(:partial => "profiles/learn/get_started") %>
  
  <h3>Sample Monthly Costs</h3>
  
  <p>The table below shows monthly costs with and without solar for a typical homeowner.</p>

  <table border="0" cellspacing="0" cellpadding="0" class="accounting">
    <tr class="header">
      <th></th>
      <th>Before</th>
      <th>After</th>
      <th>Change</th>
    </tr>
    <tr class="even">
      <th>Electric bill</th>
      <td><span class="negative">$(150.00)</span></td>
      <td><span class="negative">$(45.38)</span></td>
      <td><span class="negative">$(104.62)</span></td>
    </tr>
    <tr>
      <th>Loan payment</th>
      <td></td>
      <td><span class="negative">$(80.49)</span></td>
      <td><span class="negative">$(80.49)</span></td>
    </tr>
    <tr class="even">
      <th>Total tax savings</th>
      <td></td>
      <td>$21.42</td>
      <td>$21.42</td>
    </tr>
    <tr class="sub">
      <th>Federal</th>
      <td></td>
      <td>$15.62</td>
      <td>$15.62</td>
    </tr>
    <tr class="sub even">
      <th>State</th>
      <td></td>
      <td>$5.81</td>
      <td>$5.81</td>
    </tr>
    <tr class="net">
      <th>Net monthly cost</th>
      <td><span class="negative">$(150.00)</span></td>
      <td><span class="negative">$(104.44)</span></td>
      <td><span class="negative">$(45.56)</span></td>
    </tr>
  </table>
</div>