<div id="ways_to_save" class="span-14 append-1">
  <h2><%= h(@view_title) %></h2>

<% if flash[:non_california_postal_code] -%>
  <div class="notice">
    <p>Renewzle&rsquo;s solar calculator is currently only available in California. <a href="https://app.streamsend.com/public/CaUn/YGr/subscribe">Join our mailing list</a> to hear when we expand to other states.</p>
  
    <p class="bottom">Mistyped your California zip code? <%= link_to("Go back to the previous step", learn_url) %> or use the box to the right.</p>
  </div>
<% end -%>
  
  <p id="fnr">Here are some actions you can take to reduce your environmental impact and lower your energy bill by over 25%&mdash;a potential savings of over $500! <a href="#fn">*</a></p>
  
  <ol>
    <li>
      <h3>1. Heating and Cooling: 49% of typical home energy use</h3>
      
      <ul>
        <li><a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.104137&amp;type=2&amp;subid=0" title="Clairion Eco-Save Programmable Thermostat">Buy a programmable thermostat</a> and turn down your heater/air conditioner when you&rsquo;re asleep or away for several hours. This can save you up to $180 a year.</li>
        <li>Caulk leaky windows, <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.103597&amp;type=2&amp;subid=0" title="Draft Dodger">block door and window drafts</a>, and seal up large air leaks around pipes, chimneys and recessed lights. Don&rsquo;t forget to also <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.102212&amp;type=2&amp;subid=0" title="Aluma-Foil Radiant Barrier">insulate your attic</a> and walls. An energy audit can help with this process.</li>
      </ul>
    </li>
    <li>
      <h3>2. Major Appliances: 13% of typical home energy use</h3>
      
      <ul>
        <li>Replace your ten-year-old refrigerator with an <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.672516945&amp;type=10&amp;subid=" title="ImprovementDirect.com">ENERGY STAR model</a> and save $30 annually. Replace a 1972 model, and you could save over $200 a year!</li>
        <li>Purchase an <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.674347212&amp;type=10&amp;subid=" title="ImprovementDirect.com">ENERGY STAR clothes washer</a> and save up to $73 a year in operating costs compared to a regular clothes washer.</li>
        <li><a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.103785&amp;type=2&amp;subid=0" title="Retractable Clothesline">Line-dry your clothes</a> instead of using a clothes dryer for maximum energy savings of up to $85 annually.</li>
        <li>Replace your 10-year-old dishwasher with an <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.674333485&amp;type=10&amp;subid=" title="ImprovementDirect.com">ENERGY STAR model</a> and save up to $35 a year.</li>
        <li>Also remember that tax rebates for ENERGY STAR appliances are available in many&nbsp;states!</li>
      </ul>
    </li>
    <li>
      <h3>3. Water Heating: 13% of typical home energy use</h3>
      
      <ul>
        <li>Turn down the temperature of your water heater to 120&deg;F and save up to $25 a year.</li>
        <li>Increase your heater&rsquo;s efficiency by getting a water heater blanket. This can save around $22 annually.</li>
        <li>Use less hot water by purchasing <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.672427902&amp;type=10&amp;subid=" title="Eco Friendly Plumbing and Fixtures at ImprovementDirect.com">low flow faucets and showerheads</a> and save up to $50 a year.</li>
        <li>Consider replacing your hot water heater with a <a href="http://www.tkqlhce.com/click-3113911-5643581" title="Tankless Water Heaters, Space Heaters and Vent-Free Appliances">tankless hot water heater</a> or <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.363087&amp;type=2&amp;subid=0" title="Fafco PN760 Hot2o Solar Hot Water Heating System For Electric Water Heaters">solar water&nbsp;heating</a>.</li>
      </ul>
    </li>
    <li>
      <h3>4. Lighting: 10% of typical home energy use</h3>
      
      <ul>
        <li>Turn &lsquo;em off &ndash; don&rsquo;t leave lights on when you&rsquo;re not around.</li>
        <li>Replace your five most used incandescent light bulbs with <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=136190.10000316&amp;type=3&amp;subid=0" title="LightingDirect.com">ENERGY STAR qualified CFLs</a> and save $60 a year.</li>
        <li><a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.103529&amp;type=2&amp;subid=0" title="Mission Solar Lights">Consider solar lighting for your outdoor fixtures</a>, which produce and store their own energy during the day, then release it at night.</li>
      </ul>
    </li>
    <li>
      <h3>5. Electronics etc.: 15% of home energy use</h3>
      
      <ul>
        <li>Measure the electricity use of your electronics and small appliances using a &ldquo;plug load&rdquo; meter like the <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.101096&amp;type=2&amp;subid=0" title="Kill-A-Watt">Kill-A-Watt</a>.</li>
        <li>If any of your electronics have a high power use in standby mode, unplug them when you&rsquo;re not using them or <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.626470665&amp;type=10&amp;subid=">use a smart power strip</a> to cut off power to them when they&rsquo;re not in use.</li>
        <li>Use a Home Energy Monitor to keep track of your power use and find out how much your energy consumption is costing at the moment.</li>
  </ol>
  
  <dl>
    <dt><%= image_tag('customer/energy_star_pie_chart.gif', :alt => 'Where Does My Money Go?') %></dt>
    <dd>Source: &ldquo;Where Does My Money Go?&rdquo; <a href="http://www.energystar.gov/index.cfm?c=products.pr_pie" title="Where Does My Money Go?">Energy Star</a>. 2008.</dd>
  </dl>
  
  <p id="fn">* Based on an average, annual energy bill of $1900, as given by <a href="http://www.fypower.org/" title="Flex Your Power">Flex Your Power</a>. Additional estimates supplied from <a href="http://www.energystar.gov/" title="ENERGY STAR">ENERGY STAR</a>, the <a href="http://www.consumerenergycenter.org/" title="Consumer Energy Center">Consumer Energy Center</a>, <a href="http://www.eere.energy.gov/" title="U.S. DOE Energy Efficiency and Renewable Energy">EERE</a>, and <a href="http://www.ase.org/" title="Alliance to Save Energy">ASE</a>. <a href="#fnr">&#x21A9;</a></p>
  
  <hr />
  
  <h3>Fun Solar Stuff</h3>

  <p>The following may not be the highest impact changes you can make around the home, but since you made it to Renewzle, we know you think solar power is as cool as we do.</p>

  <p>Short of a full photovoltaic solar system, here are some other solar power items you can check out:</p>
  
  <ul>
    <li><h4 class="inline">Portable Power sources</h4> like <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=144043.10000026&amp;type=3&amp;subid=0">this small solar panel</a> can charge your electronics in an emergency or on the go.</li>
    <li><h4 class="inline">Solar cookers</h4> reflect sunlight into dark boxes, pots, and pans, cooking food in a variety of ingenious methods. You can check out a commercial product like <a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.104096&amp;type=2&amp;subid=0" title="Hot Pot Simple Solar Cooker">this simple solar cooker</a>, or you can <a href="http://www.solarcooking.org/plans/default.htm" title="Plans for Solar Cookers">try building your own</a>!</li>
    <li><h4 class="inline"><a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=127265.101199&amp;type=2&amp;subid=0" title="Solar Radio">Solar Powered Emergency Radios</a></h4> are powered by solar energy, mechanical cranks, and backup batteries, and can come with built-in flashlights and cell phone charges.</li>
  <li><h4 class="inline">Passive solar design</h4> brings heat into your home during the winter, and expels it out during the summer, regulating temperature well and using little energy. Add some solar panels, and you could have a <a href="http://www.eere.energy.gov/consumer/your_home/designing_remodeling/index.cfm/mytopic=10360" title="EERE Consumer's Guide: Zero Energy Home Design">zero energy home</a>! Learn more at the <a href="http://www.eere.energy.gov/consumer/your_home/designing_remodeling/index.cfm/mytopic=10260" title="EERE Consumer's Guide: How a Passive Solar Home Design Works">U.S. Department of Energy</a>.</li>
  <li><em><a href="http://click.linksynergy.com/fs-bin/click?id=kPSlN5Ia7Q0&amp;offerid=144043.660379018&amp;type=10&amp;subid=" title="Solar Living Sourcebook: 30th Anniversary Ed.">The Solar Living Source Book</a></em> is described as the &ldquo;bible of renewable energy.&rdquo; This 600 page book is the ultimate solar and renewable energy resource for homeowners and contractors.</li>
</div>

<div class="span-9 last">
  <%= render(:partial => "content/get_started") %>
</div>
